@import "tailwindcss";

@theme {
  --color-primary: #FF5C5C;
  --color-secondary: #27ae60;
  --color-background: #f8f9fa;
  --font-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-background text-gray-800;
}